In [31]:
import pandas as pd
import numpy as np
from rich.console import Console
from rich.table import Table

In [32]:
df = pd.read_excel("data/Dummy Medical Data.xlsx")

In [33]:
df.head()

,PAYOR_CODE,PROVIDER,PROVIDER NAME,CLAIMS_ID,ALIAS_PATIENT,CARD NO,MEMBER_TYPE,ALIAS_PRINCIPLE,POLICY NO,ADMISSION_DATE,...,CORP NAME,CLAIMS_STATUS,DIAGNOSIS DESC,DUE_TOTAL,APPROVE,MEMBER PAY,EXCESS PAID,EXCESS NOT PAID,STATUS,COVERAGE_ID
0,INTRA,1040 RS MITRA KELUARGA WARU,1040 RS MITRA KELUARGA WARU,135467956,Erick Cline,8000195200361146,D,Milani Hanson,GP3213012400265,45474.0,...,COMPANY,40,PNEUMONIA,31803368.0,9405505.0,22397863.0,22397863.0,0.0,IN PATIENT,H&S
1,INTRA,1040 RS MITRA KELUARGA WARU,1040 RS MITRA KELUARGA WARU,135582544,Kimora Wright,8000195200365725,P,Kimora Wright,GP3213012400265,45477.0,...,COMPANY,40,MUSCLE STRAIN,575000.0,575000.0,0.0,0.0,0.0,OUT PATIENT,GP
2,INTRA,6531 KLINIK KF.0025 - DARMO PANDEGILING,6531 KLINIK KF.0025 - DARMO PANDEGILING,135602059,Alexis Clarke,8000195200391838,P,Alexis Clarke,GP3213012400265,45478.0,...,COMPANY,40,ACUTE UPPER RESPIRATORY INFECTION,80000.0,80000.0,0.0,0.0,0.0,OUT PATIENT,GP
3,INTRA,3834 APOTEK KF 0025 DARMO 2-4,3834 APOTEK KF 0025 DARMO 2-4,135604387,Alexis Clarke,8000195200391838,P,Alexis Clarke,GP3213012400265,45478.0,...,COMPANY,40,DIARRHOEA AND GASTROENTERITIS OF PRESUMED INFE...,377864.0,377864.0,0.0,0.0,0.0,OUT PATIENT,GP
4,INTRA,2315 NATIONAL HOSPITAL SURABAYA,2315 NATIONAL HOSPITAL SURABAYA,135606443,Yehuda Conrad,8000195200364926,D,Anika Monroe,GP3213012400265,45478.0,...,COMPANY,40,FEVER,2381400.0,2381400.0,0.0,0.0,0.0,OUT PATIENT,GP

In [34]:
df.isnull().sum()

PAYOR_CODE              0
PROVIDER                0
PROVIDER NAME           0
CLAIMS_ID               0
ALIAS_PATIENT           3
CARD NO                 0
MEMBER_TYPE             0
ALIAS_PRINCIPLE         0
POLICY NO               0
ADMISSION_DATE          0
DISCHARGEABLE_DATE      0
CORP NAME               0
CLAIMS_STATUS           0
DIAGNOSIS DESC          0
DUE_TOTAL               0
APPROVE                 0
MEMBER PAY              0
EXCESS PAID            53
EXCESS NOT PAID       386
STATUS                  0
COVERAGE_ID             0
dtype: int64

In [35]:
d_c = ["PAYOR_CODE", "PROVIDER NAME", "CLAIMS_ID", "ALIAS_PATIENT", "CARD NO", "ALIAS_PRINCIPLE", "POLICY NO", "ADMISSION_DATE", "DISCHARGEABLE_DATE", "CORP NAME", "DUE_TOTAL", "APPROVE", "MEMBER PAY",
        "EXCESS PAID", "EXCESS NOT PAID"]

In [36]:
df.drop(columns=d_c, inplace=True)

In [41]:
df.head()

,PROVIDER,MEMBER_TYPE,CLAIMS_STATUS,DIAGNOSIS DESC,STATUS,COVERAGE_ID
0,1040 RS MITRA KELUARGA WARU,D,40,PNEUMONIA,IN PATIENT,H&S
1,1040 RS MITRA KELUARGA WARU,P,40,MUSCLE STRAIN,OUT PATIENT,GP
2,6531 KLINIK KF.0025 - DARMO PANDEGILING,P,40,ACUTE UPPER RESPIRATORY INFECTION,OUT PATIENT,GP
3,3834 APOTEK KF 0025 DARMO 2-4,P,40,DIARRHOEA AND GASTROENTERITIS OF PRESUMED INFE...,OUT PATIENT,GP
4,2315 NATIONAL HOSPITAL SURABAYA,D,40,FEVER,OUT PATIENT,GP

In [42]:
df.isnull().sum()

PROVIDER          0
MEMBER_TYPE       0
CLAIMS_STATUS     0
DIAGNOSIS DESC    0
STATUS            0
COVERAGE_ID       0
dtype: int64

In [44]:
df.duplicated().sum()

np.int64(524)

In [50]:
for col in df.columns:
    vc = df[col].value_counts().reset_index()
    vc.columns = [col, 'count']  # kasih nama kolom
    vc.to_csv(f"{col}_value_counts.csv", index=False)

In [49]:
df.to_csv("data/Medical Data Frequency.csv")